<div class="tabla">
    <h2>{{ 'details.title' | translate }}</h2>
@if (user) {
<table>
  <thead>
    <tr>
      <th>{{ 'details.headerUser' | translate }}</th>
      <th colspan="3">{{ 'details.headerDetails' | translate }}</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>{{ 'details.fields.id' | translate }}</td>
      <td colspan="3">{{ user.id }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.name' | translate }}</td>
      <td colspan="3">{{ user.name }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.username' | translate }}</td>
      <td colspan="3">{{ user.username }}</td>
    </tr>

    <tr>
      <td rowspan="6">{{ 'details.fields.address' | translate }}</td>
      <td>{{ 'details.fields.street' | translate }}</td>
      <td colspan="2">{{ user.address.street }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.suite' | translate }}</td>
      <td colspan="2">{{ user.address.suite }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.city' | translate }}</td>
      <td colspan="2">{{ user.address.city }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.zipcode' | translate }}</td>
      <td colspan="2">{{ user.address.zipcode }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.geoLat' | translate }}</td>
      <td>{{ user.address.geo.lat }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.geoLng' | translate }}</td>
      <td>{{ user.address.geo.lng }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.phone' | translate }}</td>
      <td colspan="3">{{ user.phone }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.website' | translate }}</td>
      <td colspan="3">{{ user.website }}</td>
    </tr>

    <tr>
      <td rowspan="3">{{ 'details.fields.company' | translate }}</td>
      <td>{{ 'details.fields.name' | translate }}</td>
      <td colspan="2">{{ user.company.name }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.catchPhrase' | translate }}</td>
      <td colspan="2">{{ user.company.catchPhrase }}</td>
    </tr>

    <tr>
      <td>{{ 'details.fields.bs' | translate }}</td>
      <td colspan="2">{{ user.company.bs }}</td>
    </tr>

  </tbody>
</table>

}
</div>
