footer{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding: 1rem;
    background-color: #111926;
    border-top: 1px solid #283446;
    color:white;
    position: static;
    font-size: 0.8rem;
}