<div class="header-container">
    <nav>
        <button routerLink="/">{{ 'navbar.home' | translate }}</button>
        <button routerLink="/about">{{ 'navbar.about' | translate }}</button>
        <button routerLink="/animations">Animaciones</button>
        @if (isAuthenticated()) {
            <button (click)="logout()">Cerrar sesión</button>
        } @else {
            <button routerLink="/login">Iniciar sesión</button>
        }

    </nav>
    <button class="toggle-lang" (click)="toggleLanguage()"
        [value]="currentLanguage.toUpperCase()">
        {{ currentLanguage === 'en' ? 'ES' : 'EN' }}
    </button>
</div>