:host {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: calc(100dvh - 60px);
}

:host::after {
	content: "";
	display: block;
	width: min(1100px, calc(100% - 2rem));
	height: 1px;
	margin:  0;
	background: linear-gradient(90deg, transparent 0%, #2e3949 50%, transparent 100%);
}

h3 {
	color: #4a8cd8be;
	text-wrap: balance;
	display: block;
	text-align: center;
}

