:host {
    display: block;
}
main {
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 60px);
    font-family: Arial, sans-serif;
}

app-footer {
    margin-top: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap:1rem;
}