<div class="filters">
        <h2>{{ 'userList.filtersTitle' | translate }}</h2>
        <input
            type="text"
            [placeholder]="'userList.namePlaceholder' | translate"
            [value]="nameFilter()" 
            (input)="nameFilter.set($any($event.target).value)">

        <select
            [value]="cityFilter()"
            (change)="cityFilter.set($any($event.target).value)">
            <option value="">{{ 'userList.allCities' | translate }}</option>
            @for (city of uniqueCities(); track city) {
            <option [value]="city">
                {{ city }}
            </option>
            }
        </select>

        <button (click)="resetFilters()">{{ 'userList.resetFilters' | translate }}</button>

    </div>

<div class="tabla">
    <h2>{{ 'userList.tableTitle' | translate }}</h2>

    <table>
        <thead>
            <tr>
                <th>{{ 'userList.columns.id' | translate }}</th>
                <th>{{ 'userList.columns.username' | translate }}</th>
                <th>{{ 'userList.columns.email' | translate }}</th>
                <th>{{ 'userList.columns.phone' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            @for (user of filteredUsers(); track user.id) {
            <tr style="cursor:pointer" (click)="goToDetails(user.id)">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>