<app-title [pageName]="'pages.login' | translate"></app-title>
<h3>{{ 'loginForm.heading' | translate }}</h3>

@if (error) {
<p style="color: red;">{{ error }}</p>
}

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="name">{{ 'loginForm.labels.name' | translate }}</label>
  <input type="text" id="name" formControlName="name">

  <label for="password">{{ 'loginForm.labels.password' | translate }}</label>
  <input type="password" id="password" formControlName="password">

  <button type="submit" [disabled]="loginForm.invalid">{{ 'loginForm.actions.submit' | translate }}</button>
  <button type="button" (click)="resetFields()">{{ 'loginForm.actions.clear' | translate }}</button>
</form>

<!-- Alternativa de acceso por Controls.
<form>
  <input type="text" [formControl]="loginForm.controls.name">
  <input type="password" [formControl]="loginForm.controls.password">
</form> -->